<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
  <title>About Us - Avocado Fresh & Premium</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          color: #333;
          max-width: 95%;
          margin: 0 auto;
          padding: 20px;
          background-color: #ffffff;
      }
      .logo {
          max-width: 200px;
          margin-bottom: 20px;
      }
      h1 {
        margin: 20px;
          color: #4a8522;
          border-bottom: 2px solid #4a8522;
          padding-bottom: 10px;
      }
      h2{
        margin: 10px 0 10px 0px;
      }
      p {
          margin-bottom: 30px;
      }
  </style>
</head>
<body>
      <!-- Header Section Begin -->
      <%- include('partials/header'); %>
      <!-- Header Section End -->
      
    
      <h1>Welcome!</h1>
      
      <h2>About Us</h2>
      
      <p>Avocado Company is your go-to online shop for the freshest and highest quality fruits and vegetables. We pride ourselves on delivering a wide variety of farm-fresh produce straight to your doorstep. Our commitment to sustainability and excellence ensures that every bite you take is packed with natural goodness and flavor.</p>
      
      <p>At Avocado Company, we believe in supporting local farmers and providing our customers with the best seasonal fruits and vegetables. Our easy-to-navigate website and user-friendly app make shopping for healthy, organic produce a breeze. Enjoy the convenience of same-day delivery and exceptional customer service that puts your satisfaction first.</p>
      
      <p>Experience the difference with Avocado Company, where we bring the bounty of the farm to your table. Your journey to a healthier lifestyle starts with us!</p>
      
      <p>We are your premier destination for the freshest, highest quality fruits and vegetables delivered directly to your doorstep. We source our produce directly from local farmers, ensuring that every item you receive is at its peak ripeness and flavor.</p>
      
      <p>Committed to sustainable practices, we support eco-friendly farming methods that reduce our carbon footprint. Our diverse selection includes seasonal favorites and exotic choices, catering to all your culinary needs. Shopping with us is a breeze, thanks to our user-friendly website and mobile app, offering seamless browsing, ordering, and delivery tracking.</p>
      
      <p>Enjoy the convenience of same-day delivery and exceptional customer service dedicated to your satisfaction. With Avocado Company, you can trust that every bite is packed with natural goodness, supporting a healthier, more vibrant lifestyle. Join our family today and experience the joy of farm-fresh produce delivered to your door!</p>

    <!-- Footer Section Begin -->
    <%- include('partials/footer') %>
    <!-- Footer Section End -->
    
    <%- include('partials/foot') %>


</body>